<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-alipay' viewBox='0 0 16 16'%3E%3Cpath d='M2.541 0H13.5a2.55 2.55 0 0 1 2.54 2.563v8.297c-.006 0-.531-.046-2.978-.813-.412-.14-.916-.327-1.479-.536q-.456-.17-.957-.353a13 13 0 0 0 1.325-3.373H8.822V4.649h3.831v-.634h-3.83V2.121H7.26c-.274 0-.274.273-.274.273v1.621H3.11v.634h3.875v1.136h-3.2v.634H9.99c-.227.789-.532 1.53-.894 2.202-2.013-.67-4.161-1.212-5.51-.878-.864.214-1.42.597-1.746.998-1.499 1.84-.424 4.633 2.741 4.633 1.872 0 3.675-1.053 5.072-2.787 2.08 1.008 6.37 2.738 6.387 2.745v.105A2.55 2.55 0 0 1 13.5 16H2.541A2.55 2.55 0 0 1 0 13.437V2.563A2.55 2.55 0 0 1 2.541 0'/%3E%3Cpath d='M2.309 9.27c-1.22 1.073-.49 3.034 1.978 3.034 1.434 0 2.868-.925 3.994-2.406-1.602-.789-2.959-1.353-4.425-1.207-.397.04-1.14.217-1.547.58Z'/%3E%3C/svg%3E " type="image/x-icon" style="background-color: #fff;">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Ecom Master/cart</title>
    <style>
    body{
        background-image: url(/images/bgblurred.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .btnlog{
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            margin: 24px -40px;
            justify-content: center;
            align-items: center;
        }
        .footer{
    background-color: rgb(61, 61, 63);
    text-decoration: none;
    color: #fff;
    
}
a{
    text-decoration: none;
    color: #fff;
}
.foot1{
    width: 100%;
}
.footerpart{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
    </style>

</head>
<body>
    
    <div class="container-fluid">
        <div class="row shadow p-3 mb-5 bg-white rounded">
            <div class="col">
                <div class="container">
                    <div class="col">
                        <h1>
                            <i class="bi bi-alipay"></i> Ecom Master
                        </h1>
                    </div>
                    <div class="col">
                        <h6>Enjoy the Embarking Collections of Brands Here</h6>
                    </div>    
                </div>    
            </div>
            
            <div class="col">
            <div class="container btnlog" >
                <div class="col"><a class="btn btn-primary " href="/home" role="button" style="width: 125%;" >
                    <i class="bi bi-house-check"></i> Home</a></div>
                
                <div class="col"><a class="btn btn-primary " href="/cart" role="button" style="width: 125%;">
                    <i class="bi bi-cart-check-fill"></i> Cart</a></div>
                <div class="col"><a class="btn btn-primary " href="/collections" role="button" style="width: 125%;">
                    <i class="bi bi-collection-fill"></i> Collections</a></div>
                <div class="col"><a class="btn btn-primary " href="/login" role="button" style="width: 125%;">
                    <i class="bi bi-box-arrow-in-right"></i> Login</a></div>
                <div class="col"><a class="btn btn-primary " href="/account" role="button" style="width: 125%;">
                    <i class="bi bi-person-fill-check"></i> Account</a></div></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <%
                            for(r in records)
                            {
                                %>
         <center>                       
        <div class="row shadow p-3 mb-5 bg-white rounded" style="width: 50%;">
            <div class="col">
                                       
                                    <img class="card-img-top img-fluid" src="<%=records[r].img%>" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                        
            </div>
            <div class="col">

                               <h4><i><%=records[r].product%></i></h4> <hr>
                                <h1>Price: &#8377;<%=records[r].price%></h1> <hr>
                                <button type="button" class="btn btn-warning"><a href="/deletedata?grollno=<%=records[r].rollno%>">Remove</a></button>&nbsp;&nbsp;<button type="button" class="btn btn-warning"><a href="/updatedata?grollno=<%=records[r].rollno%>">Update</a></button> 
            </div>    
        </div>
    </center>
        <%
    }
    %>
    </div>

    <div class="container-fluid footer" style="background-color: rgb(61, 61, 63);">
        <div class="col"><a class="btn btn-secondary" href="/home" role="button" style="width: 100%;" >
             <h6>Back to Top</h6></a></div>
       
       <div class="row">
      <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col">
            <div class="container foot">
                <div class="row">
                    <h4>Get to Know Us</h4>
                </div>
                <div class="row"><a href="#">About Us</a></div>
                <div class="row"><a href="#">Careers</a></div>
                <div class="row"><a href="#">Press Release</a></div>
                <div class="row"><a href="#">Ecom Master Science</a></div>
            </div>
        </div>
        <div class="col">
            <div class="container foot">
                <div class="row">
                    <h4>Connect with Us</h4>
                </div>
                <div class="row"><a href="#">Facebook</a></div>
                <div class="row"><a href="#">Twitter</a></div>
                <div class="row"><a href="#">Instagram</a></div>
                <div class="row"><a href="#">Linkdin</a></div>
            </div>
        </div>
        <div class="col">
            <div class="container foot">
                <div class="row">
                    <h4>Make Money with Us</h4>
                </div>
                <div class="row"><a href="#">Sell on Ecom Master</a></div>
                <div class="row"><a href="#">Sell under Ecom Master Accelerator</a></div>
                <div class="row"><a href="#">Protect and Build Your Brand</a></div>
                <div class="row"><a href="#">Ecom Master Global Selling</a></div>
                <div class="row"><a href="#">Supply to Ecom Master</a></div>
                <div class="row"><a href="#">Become an Affiliate</a></div>
                <div class="row"><a href="#">Fulfilment by Ecom Master</a></div>
                <div class="row"><a href="#">Advertise Your Products</a></div>
                <div class="row"><a href="#">Ecom Master Pay on Merchants</a></div>
            </div>
        </div>
        <div class="col">&nbsp;</div>
       
    </div>
    <hr>
    <div class="row footerpart">
        <div class="col">
            <h5 style="margin-left: 70%;">
                <i class="bi bi-alipay"></i> Ecom Master
            </h5>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary">
                <i class="bi bi-globe"></i> Language <i class="bi bi-caret-up-fill"></i></button>
            <button type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-bar-right"></i> INDIA</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="container">
            <div class="row">
                <center><h6>Conditions of Use & Sale &nbsp; Privacy Notice &nbsp; Interest-Based Ads</h6></center>
            </div>
            <div class="row"><center>&copy; 2004-2024, Ecom-master.com, Inc. or its affiliates</center></div>
            <div class="row">&nbsp;</div>
        </div>
    </div>
    </div>  
</body>
</html>